---
layout: default
title: "About"
abbrev: "About"
title-cn: "关于"
permalink: /about/
---

<br>
<!-- <h1 class="subpage-title" align="center">- {{page.title-cn}} -</h1> -->


{% assign UrbageSurvey = site.postresearch | where: "abbrev", "UrbageSurvey" | first %}


<article class="post">
    <div class="resume-content">
        <!-- 个人信息 -->
        <section class="resume-header">
            <div class="header-text" align="center">
                <h3>胡潜 HU Qian</h3>
                <a>建筑设计 / 算法工程师</a>
            </div>
            <br>
            <div>
                <div>
                    <a class='in-text-icon'>
                        <i class=" fa-solid fa-envelope"></i>
                    </a>
                    <a class="plainpassage">
                        huqian.archi@outlook.com
                    </a>
                </div>
                <div>
                    <a class='in-text-icon'>
                        <!-- <i class="fa-solid fa-phone"></i> -->
                        <i class="fa-brands fa-weixin"></i>
                    </a>
                    <a class="plainpassage">
                        hq604036262
                    </a>
                </div>
                <div>
                    <a class='in-text-icon'>
                        <i class="fa-solid fa-phone"></i>
                        <!-- <i class="fa-brands fa-weixin"></i> -->
                    </a>
                    <a class="plainpassage">
                        15927613607
                    </a>
                </div>

            </div>
        </section>

        <!-- 工作经历 -->
        <section>
            <div class="col-12 p-0">
                <h5 class="chapter-heading mt-4 mb-1"">工作经历 Working</h5>
            </div>
            <hr style=" margin: 0">


                    <!-- 华建科技 -->
                    <div class="subpassage">
                        <div style="display: flex; justify-content: space-between;">
                            <span>
                                <a class='plainpassage-boldlink' href="http://www.arcplus.com.cn/">华东建筑集团</a>-<a
                                    class='plainpassage-boldlink'
                                    href="https://mp.weixin.qq.com/s/ICJ_eFqt-gfHWJ7Cj3O6Pg">上海科技发展分公司</a>
                                [研发岗]
                            </span>
                            <span>2024.7 - 至今</span>
                        </div>

                        Arcplus PLC Group - SSTD [Researcher]
                        <br>- 开发项目: 体育建筑智能设计助手:
                        <br>- 科研课题: 面向原创设计的建筑体量原型智能演绎工具
                    </div>

                    <!-- 东大院 -->
                    <div class="subpassage">
                        <div style="display: flex; justify-content: space-between;">
                            <span>
                                <a class='plainpassage-boldlink' href="https://adri.seu.edu.cn/">东南大学建筑设计研究院</a>
                                [实习生]
                            </span>
                            <span>2022.9 - 2023.3</span>
                        </div>
                        Architectural Enterprise of Southeast University - AESEU [Intern Researcher]
                        <br>- 参与科研项目<a class="plainpassage-link" href="">大学城量形互动布局生成</a>, 获专利2项, 软著1项;
                        <br>- 数控建造项目: <a class="plainpassage-link" href="">莲花荡农业展馆</a> 门圈数控建造设计; 建筑总体施工图绘制;
                        <br>- 参与小城镇更新项目<a class="plainpassage-link"
                            href="{{UrbageSurvey.url | prepend: site.baseurl}}">丁蜀镇城市设计</a>;
                        <a class="plainpassage-link" href="">丁蜀镇古南街单体建筑设计</a>;
                    </div>


                    <!-- 浙江省院 -->
                    <div class="subpassage">
                        <div style="display: flex; justify-content: space-between;">
                            <span>
                                <a class='plainpassage-boldlink' href="https://www.ziad.cn/">浙江省建筑设计研究院</a>
                                [实习生]
                            </span>
                            <span>2020.06 - 2020.08</span>
                        </div>
                        xx - ZIAD [Intern Architect]
                    </div>

                    <!-- 浙江天然 -->
                    <div class="subpassage">
                        <div style="display: flex; justify-content: space-between;">
                            <span>
                                <a class='plainpassage-boldlink'
                                    href="http://www.zjtianran.com/index.aspx">浙江天然建筑设计集团</a>
                                [实习生]
                            </span>
                            <span>2018.07-2018.08</span>
                        </div>
                        xx - ? [Intern Architect]
                    </div>

        </section>

        <!-- 教育背景 -->
        <section>

            <div class="col-12 p-0">
                <h5 class="chapter-heading mt-4 mb-1" style="color: gray; ">教育背景 Education</h5>
            </div>
            <hr style="margin: 0">
            <div class="subpassage">
                <div style="display: flex; justify-content: space-between;">
                    <span>
                        <!-- <a class="plainpassage-boldlink" href="https://www.seu.edu.cn/"></a> - -->
                        <a class="plainpassage-boldlink" href="https://arch.seu.edu.cn/">东南大学建筑学院</a> -
                        <a class="plainpassage-boldlink" href="https://archialgo.com/">建筑运算与应用研究所</a>
                        [建筑设计及其理论 硕士]
                    </span>
                    <span>2021.09 - 2024.06</span>
                </div>
                <p>GPA 3.83/4 | 排名 26/108</p>
            </div>
            <div class="subpassage">
                <div style="display: flex; justify-content: space-between;">
                    <span>
                        <a class="plainpassage-boldlink" href="https://www.whu.edu.cn/">武汉大学</a> -
                        <a class="plainpassage-boldlink" href="https://sud.whu.edu.cn/">城市设计学院</a> -
                        <a class="plainpassage-boldlink">建筑系</a>
                        [建筑学 学士]
                    </span>
                    <span>2016.09 - 2021.06</span>
                </div>
                <p>GPA 3.85/4 | 排名 3/50</p>
            </div>
        </section>

        <!-- 技术能力 -->
        <section>
            <div class="col-12 p-0">
                <h5 class="chapter-heading mt-4 mb-1" style="color: gray; ">技术能力 Skills</h5>
            </div>
            <hr style="margin: 0">
            <div class="subpassage">
                <strong>程序 </strong>
                <br>- 熟练使用C#/Python/Java等常用编程语言;
                <br>- 熟悉计算几何方法,有自主开发的工具库;熟悉优化类工具;
                <br>- 熟悉Rhino系列的开发(plugin/inside/compute等);
            </div>
            <div class="subpassage"><strong>工具 </strong></div>
            <div class="subpassage"><strong>语言 </strong></div>

        </section>

        <!-- 发表情况 -->
        <section class="plainpassage">
            <div class="col-12 p-0">
                <h5 class="chapter-heading mt-4 mb-1" style="color: gray; ">论文发表 Publications</h5>
            </div>
            <hr style="margin: 0">

            <div class="subpassage"><strong>学位 Thesis</strong>
                {% include link_citation.html key="PUB-2406-MTC" %}
            </div>
            <div class="subpassage"><strong>期刊 Journal</strong>
                {% include link_citation.html key="PUB-2402-JAC" %}
            </div>

            <div class="subpassage"><strong>会议 Conference</strong>
                {% include link_citation.html key="PUB-2504-CPE" %}
                {% include link_citation.html key="PUB-2404-CPE" %}
                {% include link_citation.html key="PUB-2212-CPC" %}
            </div>
        </section>


        <section class="plainpassage">
            <div class="col-12 p-0">
                <h5 class="chapter-heading mt-4 mb-1" style="color: gray; ">知识产权 Copyright</h5>
            </div>
            <hr style="margin: 0">
            <div class="subpassage">
                <strong>发明专利 Patent</strong>
                {% include link_citation_pre.html content="高校校园规划设计中量性形统筹的数字化生成方法:CN202311191285.7[P].2024-08-09." %}
                {% include link_citation_pre.html content="高校校园规划设计中面积分配与分区测算的数字化方法:CN202310878488.7[P]. 2024-09-06." %}
                {% include link_citation_pre.html content="体育场馆建筑看台碗设计中关键设计参数配置的数字化方法(受理)." %}
                {% include link_citation_pre.html content="基于视觉语言模型自进化的建筑体量原型生成与优化方法、系统和应用(受理)." %}
            </div>

            <div class="subpassage">
                <strong>软件著作权</strong>
                {% include link_citation_pre.html content="高校校园规划指标计算与分区分配软件" %}
                {% include link_citation_pre.html content="体育场馆内场设计参数智能调配系统" %}
                {% include link_citation_pre.html content="体育场馆内场看台智能分析系统" %}
                {% include link_citation_pre.html content="体育场馆内场看台智能建模系统" %}
                {% include link_citation_pre.html content="体育场馆案例检索与前期策划平台" %}
                {% include link_citation_pre.html content="体育场馆设计智能问答平台" %}
                {% include link_citation_pre.html content="体育建筑看台碗实景图片几何信息提取与智能建模系统" %}
            </div>

        </section>





    </div>
</article>