---
layout: default
title: "Research"
title-cn: "研究 · 开发"
permalink: /research/
---
<br>
<h1 class="subpage-title" align="center">- {{page.title-cn}} -</h1>
<!-- <div class="post-line"></div> -->



<div class="catalogue">
    {% assign current_year = nil %}
    {% assign sorted_posts = site.postresearch | sort: "year" | reverse %}
    {% for post in sorted_posts %}
    {%- assign publication_year = post.year -%}
    {% if current_year != publication_year %}
    {% assign current_year = publication_year %}
    <div class="col-12 p-0">
        <h4 class="year-heading mt-4 mb-1" style="font-style: italic; color: gray; ">{{ current_year }}</h4>
    </div>
    <hr style="margin: 0">
    {% endif %}
    {% assign pub_index = pub_index | plus: 1 %}
    {% include cataitem_research.html %}
    {% endfor %}
</div>