<!-- 名片外层容器，控制卡片整体样式、居中和响应式宽度 -->
<div class="business-card-container" style="box-shadow:none;border:none">

    <!-- 名片主体，使用Flexbox实现左右布局 -->
    <div class="business-card" style="align-items: left;">
        <a class="card-link-overlay" href="{{ '/about' | prepend: site.baseurl }}"></a>
        <!-- 左侧头像/Logo区域 -->
        <div class="card-left">
            <img src="http://workhub.oss-cn-shanghai.aliyuncs.com/picture/general/intro-personal/photo-oneinch-1.png"
                alt="胡潜的一寸照" class="card-logo" style="opacity: 1;width: 100px;height:120px">
        </div>
        <!-- 右侧信息区域 -->
        <div class="card-right">
            <h2 data-wow-delay=".2s">胡 潜 HU Qian</h2>
            <p class="position-title">建筑设计师 / 算法工程师</p>
            <div class="contact-info">
                <a class='in-text-icon'>
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a class="plainpassage">huqian.archi@outlook.com</a>
            </div>

            <div class="contact-info">
                <a class='in-text-icon'>
                    <i class="fa-brands fa-weixin"></i>
                </a>
                <a class="plainpassage">hq604036262</a>
            </div>


            <div class="contact-info">
                <a class='in-text-icon'>
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a class="plainpassage">
                    15927613607
                </a>
            </div>


        </div>
    </div>
</div>