<article class="research-item">
  <a href="{{ post.url | prepend: site.baseurl }}" class="research-link">
    <!-- {% if post.featured-image %}
    <div class="research-image-container">
      <img src='{{post.featured-image }}'
        alt="{% if post.alt %}{{ post.alt }}{% else %}文章“{{ post.title | escape }}”的配图{% endif %}"
        class="research-image" loading="lazy" />
    </div>
    {% else %}
    <div class="research-image-container">
      <img
        src="https://workhub.oss-cn-shanghai.aliyuncs.com/picture/design/imghost-D18-S00-design-template/img-sample.jpg"
        class="research-image" loading="lazy" />
    </div>
    {% endif %} -->
    <div class="research-image-container">
      <img src="{{ site.osshost-url }}research/imghost-{{ post.projid}}-{{post.abbrev}}/featured.jpg" alt=""
        class="research-image" loading="lazy" />
    </div>

    <div class="research-content">
      <h2 class="research-title">{{ post.abbrev}}</h2>
      {% if post.subtitle or post.title-cn %}
      <p class="research-subtitle2">{{ post.title}}</p>
      <p class="research-subtitle">{{ post.title-cn }}</p>

      {% endif %}
      <div class="research-meta">
        {% if include.sticky == 'true' %}
        <span class="research-pinned">置顶 ·</span>
        {% endif %}
        <!-- <time datetime="{{ post.date }}" class="research-time">{{ post.date | date: "%Y年%m月%d日" }}</time> -->
      </div>
      <div class="research-tags">
        {% for tag in post.tags-cn %}
        <p tag-content="{{ tag }}">{{ tag }}</p>
        {% endfor %}
      </div>
      <div class="research-line"></div>
    </div>
  </a>
</article>