<div class="footer-print-container2">

  <!-- 导航链接 -->
  <div class="footer-nav1 in-text-icon footer-content">
    <a href="#content-research" target="_blank">
      <i class="fa-solid fa-list-ul fa-fw"></i>
      回到目录:研发
    </a>
    <span class="separator"> | </span>
    <a href="#content-design" target="_blank">
      <i class="fa-solid fa-list-ul fa-fw"></i>
      回到目录:设计
    </a>
    <span class="separator"> | </span>
    <a href="#" target="_blank">
      <i class="fa-solid fa-arrow-up fa-fw"></i>
      回到个人简历
    </a>
    <span class="separator"> | </span>
    <a href="{{ siteurl }}" target="_blank">
      <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
      访问我的网页
    </a>
  </div>
</div>

<!-- 基本信息 -->
<!-- <div class="footer-info">
      <span>&copy; Copyright <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
    </div> -->
<!-- <footer>
  <span>
    {{ site.author.name }} - </time> huqian.archi@outlook.com - <time datetime="{{ site.time }}">{{ site.time | date:
      '%Y'}}
  </span>
</footer> -->