<div class="btn-simple-row">
  <div class="btn-simple">
    <a href="#content-research" target="_blank">
      <i class="fa-solid fa-list-ul fa-fw"></i>
      回到目录:研发
    </a>
  </div>
  <div class="btn-simple">
    <a href="#content-design" target="_blank">
      <i class="fa-solid fa-list-ul fa-fw"></i>
      回到目录:设计
    </a>
  </div>
  <div class="btn-simple">
    <a href="#" target="_blank">
      <i class="fa-solid fa-arrow-up fa-fw"></i>
      回到个人简历
    </a>
  </div>
  <div class="btn-simple">
    <a href="{{ siteurl }}" target="_blank">
      <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
      访问我的网页
    </a>
  </div>
</div>
