<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">主页</a></li>
      <li><a href="{{ '/research' | prepend: site.baseurl }}">研发</a></li>
      <li><a href="{{ '/design' | prepend: site.baseurl }}">设计</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">更多</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">简历</a></li>
    </ul>
  </div>
</nav>