<div class="postpagedesign">
  {% if post.icon-d=='png' %}
  <div>
    <img class="img-container" viewBox="0 0 40 40" style="width: 60px; height: 60px;opacity: 0.3;"
      src="{{ site.osshost-url }}design/imghost-{{post.projid}}-{{post.abbrev}}/icon-black.png" alt="">
  </div>
  {% else %}
  <svg width="60" height="60" viewBox="0 0 40 40" fill="none" xmlns="https://www.w3.org/2000/svg">
    <path d="{{ post.icon-d }}" fill="rgba(0,0,0,0.3)" />
  </svg>
  {% endif %}
  <div class="postpagedesign-header">
    <h1 class="postpagedesign-title">{{ post.abbrev }}</h1>
    <h2 class="postpagedesign-subtitle">{{ post.title-cn }}</h2>
    <!-- <h2 class="postpagedesign-subtitle">{{ post.subtitle-cn }}</h2> -->

    {% if post.team-cn and post.team-cn != "" %}
    <div class="postpageresearch-info m-0">

      团队 {{ post.team-cn | join: ", " }}
    </div>
    {% endif %}
    <div class="postpageresearch-info">
      时间 {{ post.year }}
    </div>
  </div>

  <div class="postpagedesign-content">
    {{ post.content }}
  </div>
</div>