<!-- Research Assignment -->
{% assign UrbageSurvey = site.postresearch | where: "abbrev", "UrbageSurvey" | first %}
{% assign UnitePacking = site.postresearch | where: "abbrev", "UnitePacking" | first %}
{% assign QuadraBlock = site.postresearch | where: "abbrev", "QuadraBlock" | first %}
{% assign AlphaPlot = site.postresearch | where: "abbrev", "AlphaPlot" | first %}
{% assign StandRecons = site.postresearch | where: "abbrev", "StandRecons" | first %}
{% assign OvalAgent = site.postresearch | where: "abbrev", "OvalAgent" | first %}
{% assign ProtoMass = site.postresearch | where: "abbrev", "ProtoMass" | first %}

<!-- DesignAssignment -->
{% assign FishFlow = site.postdesign | where: "abbrev", "FishFlow" | first %}


<div class="resume-content" id="start-resume">
    <!-- 个人信息 -->
    <!-- 工作经历 -->
    <section class=" print-in-page">
        <!-- <hr style=" margin: 0"> -->
        <div class="col-12 p-0">
            <h5 class="chapter-heading" align="center">工作经历 Working</h5>
        </div>

        <!-- 华建科技 -->
        <div class="subpassage">
            <div style="display: flex; justify-content: space-between;">
                <span>
                    <a class='plainpassage-boldlink' href="https://www.arcplus.com.cn/">华东建筑集团</a> - <a
                        class='plainpassage-boldlink'
                        href="https://mp.weixin.qq.com/s/ICJ_eFqt-gfHWJ7Cj3O6Pg">上海科技发展分公司</a>
                    <a class='plainpassage'>[研发]</a>
                </span>
                <span>2024.07 - 至今</span>
            </div>
        </div>

    </section>

    <!-- 教育背景 -->
    <section class="">
        <!-- <hr style="margin: 0"> -->
        <div class="col-12 p-0">
            <h5 class="chapter-heading" style="color: gray; ">教育背景 Education</h5>
        </div>

        <div class="subpassage">
            <div style="display: flex; justify-content: space-between;">
                <span>
                    <a class="plainpassage-boldlink" href="https://www.seu.edu.cn/">东南大学</a> -
                    <a class="plainpassage-boldlink" href="https://arch.seu.edu.cn/">建筑学院</a> -
                    <a class="plainpassage-boldlink" href="https://archialgo.com/">建筑运算与应用研究所</a>
                    <a class='plainpassage'>[研究生]</a>
                </span>
                <span>2021.09 - 2024.06</span>
            </div>
        </div>
        <div class="subpassage">
            <div style="display: flex; justify-content: space-between;">
                <span>
                    <a class="plainpassage-boldlink" href="https://www.whu.edu.cn/">武汉大学</a> -
                    <a class="plainpassage-boldlink" href="https://sud.whu.edu.cn/">城市设计学院</a> -
                    <a class="plainpassage-boldlink">建筑系</a>
                    <a class='plainpassage'>[本科]</a>
                </span>
                <span>2016.09 - 2021.06</span>
            </div>
        </div>
    </section>

    <!-- 发表情况 -->
    <section class="plainpassage">
        <div class="col-12 p-0">
            <h5 class="chapter-heading" style="color: gray; ">发表情况 Publications</h5>
        </div>
        <!-- <hr style="margin: 0"> -->

        <div class="subpassage"><strong>学位论文 Thesis</strong>
            {% include link_citation.html key="PUB-2406-MTC" %}

        </div>
        <div class="subpassage"><strong>期刊论文 Journal</strong>
            {% include link_citation.html key="PUB-2402-JAC" %}
            {% include link_citation_pre.html content="李星桥,胡潜,徐晓明. 从工具生产到模式拓新——OVAL AI体育建筑智能设计助手的转型[J]. 建筑技艺, 2026(6)."
            note=""%}
        </div>

        <div class="subpassage"><strong>会议论文 Conference</strong>
            {% include link_citation.html key="PUB-2504-CPE" %}
            {% include link_citation.html key="PUB-2404-CPE" %}
            {% include link_citation.html key="PUB-2212-CPC" %}
        </div>
        <div class="subpassage">
            <strong>发明专利 Patent</strong>
            {% include link_citation_pre.html content="体育场馆看台碗关键设计参数配置的数字化方法:CN202512000518.6[P]. 2026-04-03." %}
            {% include link_citation_pre.html content="基于视觉语言模型自进化的建筑体量原型生成与优化方法、系统和应用:CN202511722453.X[P]. 2026-02-24."
            %}
            {% include link_citation_pre.html content="高校校园规划设计中面积分配与分区测算的数字化方法:CN202310878488.7[P]. 2024-09-06." %}
            {% include link_citation_pre.html content="高校校园规划设计中量性形统筹的数字化生成方法:CN202311191285.7[P].2024-08-09." %}
        </div>
    </section>



</div>