<!-- social media
    wanfangdata-万方 内容量还行
    ocrid 没想好怎么使用
    researchgate 建设一下！
    github 计划整理和开源部分项目...
    linkin 建设中
    google scholar (我能放的内容不多)
    boss直聘（感觉这个又太过于求职了，我需要的是求职＋日常展示＋个人IP等等）

-->
<div class="social-links">
    <a href="https://s.wanfangdata.com.cn/paper?q=%E4%BD%9C%E8%80%85%3A%22%E8%83%A1%E6%BD%9C%22%20%E4%BD%9C%E8%80%85%E5%8D%95%E4%BD%8D%3A%20%22%E4%B8%9C%E5%8D%97%E5%A4%A7%E5%AD%A6%22&p=1"
        target="_blank" alt="万方">
        <i class="fa-solid fa-book"></i>
    </a>
    <a href="https://orcid.org/0009-0007-0532-3473" target="_blank" alt="ORCID">
        <i class="fa-brands fa-orcid fa-lg"></i>
    </a>
    <a href="https://www.researchgate.net/profile/Qian-Hu-27" target="_blank" alt="ResearchGate">
        <i class="fa-brands fa-researchgate fa-lg"></i>
    </a>
    <a href="https://github.com/froggycroak" target="_blank" alt="GitHub">
        <i class="fa-brands fa-github fa-lg"></i>
    </a>

</div>