<div class="video-part">
    {% if include.link-jump %}
    <a class="video-part-link" href="{{ include.link-jump }}">
        <video src="{{ include.link }}" controls>
            您的浏览器不支持 video 标签
        </video>
    </a>
    <p>
        <i class="fa-solid fa-caret-up"></i>
        {{ include.note }} (点击视频跳转)
    </p>
    {% else %}
    <video src="{{ include.link }}" controls>
        您的浏览器不支持 video 标签
    </video>
    <p>
        <i class="fa-solid fa-caret-up"></i>
        {{ include.note }}
    </p>
    {% endif %}
</div>