.design-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (max-width: 600px) {

  /* 调整这个数值以适应你的需求 */
  .project-grid-container {
    grid-template-columns: 1fr;
    /* 窄屏幕时使用单列布局 */
  }
}

.design-grid-item {
  position: relative;
  width: 100%;
  padding-top: 62.25%;
  overflow: hidden;
  background-color: #ccc;
  border: 1px solid #ddd;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 10px;
}

.design-grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.design-grid-item:hover {
  transform: scale(1.05);
  background-color: #eee;
}

.design-grid-item .design-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.3s;
  font-style: italic;
}

.design-grid-item:hover .project-grid-info {
  opacity: 1;
}

.design-grid-info h6 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.design-grid-info p {
  margin: 0;
  color: #fff;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}