.project-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (max-width: 600px) {

  /* 调整这个数值以适应你的需求 */
  .project-grid-container {
    grid-template-columns: 1fr;
    /* 窄屏幕时使用单列布局 */
  }
}

.project-grid-item {
  position: relative;
  width: 100%;
  padding-top: 62.25%;
  overflow: hidden;
  background-color: #ccc;
  border: 0px solid #ddd;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 10px;
}

.project-grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.project-grid-item:hover {
  transform: scale(1.03);
  background-color: #eee;
}

.project-grid-item .project-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.0);
  font-size: 14px;
  opacity: 0.9;
  transition: opacity 0.3s;
  // font-style: italic;
  display: flex;

  .img-container {
    margin: .15rem .6rem 0 0;
    fill: #ffffffd5;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center !important;
    /* 同时实现水平和垂直居中 */

    img {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      opacity: 0.95;

    }
  }
}

.project-grid-item:hover .project-grid-info {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.project-grid-info h6,
.project-grid-info h5,
.project-grid-info h4 {
  margin: 0 0 2px 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.project-grid-info p {
  margin: 0;
  color: #fff;
  font-size: 12px;
}

.project-grid-info svg {
  margin: .15rem .6rem 0 0;
  fill: rgba(255, 255, 255, 0.84);
  width: 35px;
  height: 35px;
}

// .project-grid-info img {
//   margin: .15rem .6rem 0 0;
//   width: 35px;
//   height: 35px;
//   text-align: left;
// }

a {
  text-decoration: none;
  color: inherit;
}