.project-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (max-width: 600px) {

  /* 调整这个数值以适应你的需求 */
  .project-grid-container {
    grid-template-columns: 1fr;
    /* 窄屏幕时使用单列布局 */
  }
}

.project-grid-item {
  position: relative;
  width: 100%;
  padding-top: 62.25%;
  overflow: hidden;
  background-color: #ccc;
  border: 1px solid #ddd;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 10px;
}

.project-grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.project-grid-item:hover {
  transform: scale(1.05);
  background-color: #eee;
}

.project-grid-item .project-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.0);
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
  font-style: italic;
  display: flex;
}

.project-grid-item:hover .project-grid-info {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.project-grid-info h6,
.project-grid-info h5,
.project-grid-info h4 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.project-grid-info p {
  margin: 0;
  color: #fff;
  font-size: 10px;
}

.project-grid-info svg {
  margin: 0 0.6rem 0 0;
  fill: #ffffffd5;
  width: 35px;
  height: 35px;
}

a {
  text-decoration: none;
  color: inherit;
}