.figure-full {

    margin: 1rem 0 1.5rem 0;

    img {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    p {

        color: $default-tint !important;
        margin: 0.2rem 0 0 0
    }


    p i {
        color: $default-tint;
        margin: 0 0 0 0;
    }
}