.in-text-icon-link a i {
    color: $midgrey;
}

.in-text-icon-link a {
    color: $midgrey;
    font-weight: bold;
}

.in-text-icon i {
    color: grey;
}

.in-text-icon:hover {
    text-decoration: none;
}

.mt-2 a i {
    color: $midgrey;
    /* for example, 'green', '#FF6B6B', 'rgb(100, 149, 237)' */
}

.mt-2 a i:hover {
    transform: scale(1.1);
    color: grey;
    transition: transform 0.3s;
}