.mt-2 a i {
    color: rgb(190, 190, 190);
    /* for example, 'green', '#FF6B6B', 'rgb(100, 149, 237)' */
}

.mt-2 a i:hover {
    transform: scale(1.1);
    color: lightgrey;
    transition: transform 0.3s;
}