.in-text-icon-link a i {
    color: $midgrey;
}

.in-text-icon-link a {
    color: $midgrey;
    font-weight: bold;
}

.in-text-icon i {
    color: lightgrey;
    font-size: 1em;
}

.in-text-icon:hover {
    text-decoration: none;
}

.mt-2 a i {
    color: $midgrey;
    /* for example, 'green', '#FF6B6B', 'rgb(100, 149, 237)' */
}

.mt-2 a i:hover {
    transform: scale(1.1);
    color: grey;
    transition: transform 0.3s;
}


.icon-container {
    display: inline-flex;
    /* 使用 flex 布局确保居中 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    width: 40px;
    /* 固定宽度 */
    height: 40px;
    /* 固定高度 */

}

.icon-scalable {
    width: 100%;
    /* 宽度填满容器 */
    height: 100%;
    /* 高度填满容器 */
    object-fit: contain !important;
    /* 保持比例完整显示 */
}