.pagination {
  border-top: .5px solid $grey-2;
  font-family: $serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  /* 使用 Flexbox 布局 */
  display: flex;
  justify-content: center;
  /* 主轴（水平）居中 */
  align-items: center;
  /* 交叉轴（垂直）居中 */
  position: relative;
  /* 保持相对定位，以备子元素需要 */

  span {
    color: $default-shade;
    font-size: 1.1rem;
    text-align: center;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    // position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    // left: 0;
    margin-right: auto;
  }

  .right {
    // right: 0;
    margin-left: auto;
  }
}