.plainpassage {

    color: $default-shade;

    &:hover {
        color: $default-shade;
        text-decoration: none;
    }

    a {
        color: $default-shade;
    }

    div a {
        color: $default-shade;
    }

    &-title {
        font-weight: 600;
        color: $default-tint !important;
        margin: 1rem 0 !important;
        align-content: center;

        &:hover {
            color: $default-tint !important;
            text-decoration: none;
        }
    }



    &-bold {
        font-weight: bold;
        color: $default-shade;

        &:hover {
            color: $default-shade;
            text-decoration: none;
        }
    }



    &-link {
        color: $default-shade;

        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }



    &-boldlink {

        font-weight: bold;
        color: $default-shade;

        &:hover {
            // font-size: large;
            color: $link-hover;
            text-decoration: none;
        }
    }



    &-boldlightlink {
        font-weight: bold;
        color: $midgrey;

        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }
}

.header-text>div {
    display: flex;
    justify-content: space-between;
    /* 关键属性：两端对齐 */
    align-items: center;
    /* 可选：让内容在垂直方向上居中对齐 */
    max-width: 800px;
    /* 建议：设置一个最大宽度，这样两端对齐的效果更明显 */
    margin: 0 auto;
    /* 建议：如果父容器很宽，这个设置可以使该div水平居中 */
}

.figure-note {
    color: $midgrey;
}

.year-heading {
    color: gray;
}

.chapter-heading {
    color: grey;
    margin-top: 1.5rem !important;
    margin-bottom: .25rem !important;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    font-style: italic;
    text-align: center;
}

.subpassage {
    margin: 0.7rem 0;
}

.weakpassage {
    color: $midgrey;
}