//研究页面的标题和基本信息
.postpageresearch {
    padding: 3rem 0;

    &-info {
        color: $default-tint;
        // font-family: $serif-secondary !important;
        // font-size: smaller;
        margin: 0;

        span {
            font-style: italic;
        }
    }

    &-title {
        color: $default-shade;
        font-family: $sans-serif !important;
        font-weight: bold;
        font-size: 2rem;
        margin: 1rem 0;
    }

    &-subtitle {
        color: $default-color;
        font-family: $sans-serif !important;
        font-weight: bold;
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    &-line {
        border-top: 0.4rem solid $default-shade;
        display: block;
        margin: 1.5rem auto 1.5rem;
        width: 4rem;
    }

    &-citesign {
        color: $default-shade;
        font-weight: bold;
    }

    &-citecontent {
        color: $default-tint;
    }

    p {
        margin: 0 0 1rem;
        text-align: justify;
    }

    a.btn {
        color: $link !important;
        text-decoration: none !important;
        @include transition(all .3s ease-out);

        // display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 8px;
        padding: 8px 8px;
        margin: 10px 0;
        border: 1px solid #e0e0e0;
        transition: all 0.3s ease;
        max-width: 100%;
        box-sizing: border-box;

        i {
            margin-right: 12px;
            margin-left: 6px;
        }

        &:hover {
            color: $primary !important;
        }
    }

    a:not(.btn) {
        color: $default-tint;
        // text-decoration: underline;
        @include transition(all .3s ease-out);

        &:hover {
            color: $link-hover;
        }
    }

    img {
        margin: 0 auto 0.5rem;
    }

    img+em {
        color: $default-tint;
        display: block;
        font-family: $sans-serif !important;
        font-size: 0.9rem;
        font-style: normal;
        text-align: center;
    }

    // CSS for making emoji inline
    img.emoji {
        display: inline-block;
        left: 0;
        transform: none;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
        padding: 0;
        margin: 0;
    }
}