@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/design';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/postpage';
@import 'tale/postpagedesign';
@import 'tale/postpageresearch';
@import 'tale/catalogue';
@import 'tale/catalogueresearch';
@import 'tale/404';
@import 'tale/tags';
@import 'tale/plainpassage';
@import 'tale/icons';
@import 'tale/citation';