<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- <head>
  <title>{{ page.abbrev | default: page.title }} | {{ site.title }}</title>
</head> -->

<body>

  {% include navigation.html %}

  <body>
    <div
      style="background-color: #fff3cd; border: 1px solid #ffeaa7; color: #856404; padding: 15px; text-align: center; margin-bottom: 20px;">
      <strong>警告：</strong> 网页建设中，存在失真信息，请非战斗人员撤离
    </div>

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

</html>