---
layout: default
---

{% assign proj_count = site.postdesign | size %}
{% assign proj_index = 0 %}
{% for proj in site.postdesign reversed %}
{% assign proj_index = proj_index | plus: 1 %}
{% if proj.url == page.url %}
{% break %}
{% endif %}
{% endfor %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  {% endif %}

  <div class="arrow">
    {{proj_index}} of {{proj_count}}
  </div>

  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">
    <i class="fa-solid fa-arrow-right"></i>
  </a>
  {% endif %}
</div>

<div class="postpagedesign">

  <svg width="60" height="60" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="{{ page.icon-d }}" fill="rgba(0,0,0,0.3)" />
  </svg>
  <div class="postpagedesign-header">
    <h1 class="postpagedesign-title">{{ page.abbrev }}</h1>
    <h2 class="postpagedesign-subtitle">{{ page.title-cn }}</h2>
    <!-- <h2 class="postpagedesign-subtitle">{{ page.subtitle-cn }}</h2> -->

    <div class="postpagedesign-info m-0">
      Team: {{ page.team-cn | join: ", " }}
    </div>

    {% if page.location and page.location != "" %}
    <div class="postpagedesign-info">
      Location: {{ page.location }}
    </div>
    {% endif %}

    <div class="postpagedesign-info">
      Year: {{ page.date | date: "%Y" }}
    </div>
  </div>

  <div class="postpagedesign-content">
    {{ content }}
  </div>
</div>