---
layout: default
---


<div class="row justify-content-center align-items-center p-2 pb-4">
  <div class="col-6 col-lg-4 col-md-4 text-center mt-4">

    <!-- personal figure -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="https://workhub.oss-cn-shanghai.aliyuncs.com/picture/general/intro-personal/hq-figure-abj.png"
          data-wow-delay=".1s" alt="" style="max-height: 500px">
      </div>
    </div>

    <!-- titled info -->
    <h2 data-wow-delay=".2s" style="font-weight: bold">胡潜</h2>
    <h4 class="pt-2" data-wow-delay=".15s" style="font-weight: default">HU Qian</h4>
    <a href="mailto:huqian.archi@outlook.com" class="plainpassage-link">huqian.archi@outlook.com</a>


    <!-- Social Media Links -->
    <div class="mt-2" style="display: flex; justify-content: space-evenly; font-size: 1.5rem">
      <a href="https://s.wanfangdata.com.cn/paper?q=%E4%BD%9C%E8%80%85%3A%22%E8%83%A1%E6%BD%9C%22%20%E4%BD%9C%E8%80%85%E5%8D%95%E4%BD%8D%3A%20%22%E4%B8%9C%E5%8D%97%E5%A4%A7%E5%AD%A6%22&p=1"
        target="_blank">
        <i class="fa-solid fa-book"></i>
      </a>
      <a href="https://orcid.org/0009-0007-0532-3473" target="_blank">
        <i class="fa-brands fa-orcid fa-lg"></i>
      </a>
      <a href="https://www.researchgate.net/profile/Qian-Hu-27" target="_blank">
        <i class="fa-brands fa-researchgate fa-lg"></i>
      </a>
      <a href="https://github.com/froggycroak" target="_blank">
        <i class="fa-brands fa-github fa-lg"></i>
      </a>
    </div>
  </div>
</div>




<p>
  欢迎来到我的个人网页！
</p>

<p class="plainpassage">
  我是胡潜，一名<a class='plainpassage-bold'>程序员&建筑师</a>，致力于运用计算智能的理论方法，解决建成环境中的实际问题。
  我的研究兴趣包括生成式设计 / 人工智能辅助设计 / 建筑中的具身智能等。
  我现在就职于<a class='plainpassage-boldlink' href="http://www.arcplus.com.cn/">华建集团</a>的科技分公司，从事建筑数字化技术研究。
</p>

<p class="plainpassage">
  通过我的个人网页，您将了解到我近年来的工作内容和成果。
  <a class='plainpassage-boldlink' href="{{ '/research' | relative_url }}">[研发]</a>是我主导、参与的课题研究和程序开发；
  <a class='plainpassage-boldlink' href="{{ '/design' | relative_url }}">[设计]</a>收录了我在建筑设计相关领域的的作品；
  <a class='plainpassage-boldlink' href="{{ '/tags' | relative_url }}">[更多]</a>收纳了更多有趣的资讯和知识，包含更多非正式的奇思妙想；
  <a class='plainpassage-boldlink' href="{{ '/about' | relative_url }}">[关于]</a>则包含了我更为详尽的个人信息介绍。
</p>

<p>
  Welcome to my blog!
</p>

<p>
  I'm HU Qian, a Researcher at Shanghai Department of Science and Technologies,
  <a href="http://www.arcplus.com.cn/" target="_blank">ArcPlus Group PLC</a>. My research focuses on computational
  design and AI applications in architecture.
</p>

<p>
  I am Zhang Chao, a scholar of Pang studies. As is well known, I am a very talented person and obtained a master's
  degree in anthropology from The Hague University. It should be said that this water is still quite important because,
  I remember there was another year when a water plant in the entire city of Wuhan had a problem. At that time, all the
  water coming out of this tap had a taste. So, during those two days, the entire city of Wuhan, including our mineral
  water, distilled water, etc., basically sold out and even increased in price.

  I am in my second year of the Interdisciplinary Ph.D. Program in Urban Design and Planning and doing my M.S. in
  Statistics at the University of Washington, where I am advised by Prof. Qing Shen. I earned a master’s degree in Urban
  Planning from Peking University and dual bachelor’s degrees in Economics and Urban Planning from Wuhan University.

  My research interests are in developing artificial intelligence (AI) algorithms and statistical/data science methods
  to support the integration of automated, decarbonized, and digitalized technologies into urban mobility systems.
  I utilize responsible, explainable, and generative AI to enhance the economic effectiveness, systematic smartness,
  and environmental sustainability of future transportation, ultimately informing more equitable public policies.
  I have led several urban and transportation planning projects that were implemented in cities.
</p>






<!-- <div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->